
<div class="container">
	<div class="row">
		<div id="post_first_sentence" class="col-md-12">
      <h1><span class="super_bold">Today</span> was great because of</h1>
		</div>
	</div>
	<div class="row">
		<div id="title_post" class="col-md-12">
        <%= @post.title %>
		</div>
	</div>
  <div class="row">
    <div id="post_second_sentence" class="offset-md-6 col-md-6 ">
       what made it great was ...
    </div>
  </div>
  <div class="row">
    <div id="carousel_post" class="col-md-5">
      <%= carousel_for(@post.images) %>
      <div id="post_tag">
      # <%= @post.tags.map(&:tag_name).join(' ') %>
      </div>
    </div>
    <div id="content_post"class="col-md-7">
			<div class="row">
				<div class="col-md-12">
	      	<div class="content_post_para">
					<%= @post.content %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card-footer">
					<% if belong_to_user?(@post)%>
						<%= link_to "  ", edit_user_post_path(current_user) , class: "fas fa-cog edit_profile"  , 'data-toggle' => "tooltip" , 'data-placement' => "bottom" , 'title' => "Edit Profile"%>
  					<%= link_to "  ", user_post_path(@post), :method => :delete,  class: "far fa-trash-alt edit_profile", data: { confirm: "Are you sure?" } , 'data-toggle' => "tooltip" , 'data-placement' => "bottom" , 'title' => "Delete this post!"%>

					<% end %>
					<%= @post.created_at.strftime("%b %d, %Y") %>
					</div>
		 		</div>
			</div>
    </div>

  </div>

</div>
